.App {
  width: 25rem;
  height: 25rem;
  text-align: center;
  margin-left: 40%;
}

.btn {
  margin-top: 20px;
}

.icn {
  margin-left: 50%;
}
a {
  background-color: black;
}

/* a {
  padding-left: 50%;
  margin-left: 46%;
  background-color: aqua;
  width: 25px;
} */
* {
  transition: all 0.2s ease-in-out;
}
.jumbotron {
  align-self: center;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    align-self: center;
    margin-top: 30%;
  }
}
